extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}

        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
            .campo
               label(for="tarea") Producto:
               input.nombre-tarea(type="text" name="tarea" placeholder="Nombre Producto")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Agregar") 

        //- pre= vardump(tareas)

        .listado-pendientes
            ul
              if tareas.length
                each tarea in tareas
                    li.tarea(data-tarea=tarea.id)
                        p= tarea.tarea
                        .acciones
                            if tarea.estado
                                i.far.fa-check-circle.completo
                            else 
                                i.far.fa-check-circle
                            i.fas.fa-trash  
              else 
                p No hay productos en este inventario  



        //- pre= vardump(tareas)

        // Avance del Inventario
        .avance 
            h2 Avance del Inventario
            #barra-avance.barra-avance
                #porcentaje.porcentaje


        // Acciones que se pueden realizar
        .contenedor-acciones
            a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar Inventario
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class="boton eliminar") Eliminar Inventario

